<div class="container">
  <h1>Todos</h1>

  <ul class="list-unstyled">
    <li>
      <form [formGroup]="checkoutForm" (ngSubmit)="addTodo(checkoutForm.value)">
        <div class="input-group">
          <input type="text"
          formControlName="newTodo"
          class="form-control"
          placeholder="Type todos"
          autofocus>
          <button class="btn btn-success" type="submit">Add</button>
        </div>
      </form>
    </li>
  </ul>
  
  <ul *ngFor="let todo of angularTodos" class="list-unstyled">
    <li class="todo-item">
        <div class="input-group">
          <span class="input-group-text">
            <input type="checkbox" aria-label="..." [(ngModel)]="todo.completed">
          </span>
          <input type="text" class="form-control" aria-label="..." [(ngModel)]="todo.title">
          <div class="input-group-btn">
            <button class="btn btn-danger" (click)="removeTodo(todo.id)">Remove</button>
          </div>
        </div>
    </li>
  </ul>

  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-light" (click)="filterTodo('completed')">Completed</button>
    <button class="btn btn-light" (click)="filterTodo('active')">Active</button>
    <button class="btn btn-light" (click)="filterTodo('')">All</button>
    <button class="btn btn-light" (click)="clearCompleted()">Clear Completed</button>
  </div>
</div>